<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador - Apetitos Delivery</title>
    <!-- Estilos para el administrador -->
    <link rel="stylesheet" href="administrator.css">
</head>
<body>
    <!-- Encabezado del administrador -->
    <header>
        <div class="menu-bar">
            <a href=""><i class="fa-solid fa-bars"></i></a>
        </div>
        <div class="logo">
            <img src="" alt="apetitos_delivery">
        </div>
        <div class="menu">
            <nav>
                <ul>
                    <li><a href=""><i class="fa-solid fa-circle-user"></i></a></li>
                    <li><a href="">Usuario</a></li>
                    <li><a href="">Cerrar Sesión</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- Cuerpo del administrador -->
    <main>
        <div class="menu-lateral">
            <nav>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </nav>
        </div>
        <div class="contenido">
            <div class="panel">
                <!-- Contenido del administrador -->
            </div>
        </div>
    </main>
    <!-- Pie de págiona del administrador -->
    <footer>
        <div class="copyright">
            <h3>Administrador de Apetitos - Delivery</h3>
        </div>
    </footer>
</body>
</html>