<!DOCTYPE html>
<html lang="es-MX">
<!-- Head del administrador -->
<%- include('../partials/head_admin.ejs', { data: panel }) %>
<body>
    <!-- Encabezado del administrador -->
    <%- include('../partials/header_admin.ejs') %>
    <!-- Cuerpo del administrador -->
    <main>
        <!-- Menú del administrador -->
        <%- include('menu.ejs') %>
        <!-- Contenido del administrador -->
        <div class="contenido">
            <div class="panel">
                <h2>Agregar nuevo platillo</h2>
                <form action="/administrador/agregar" method="post" enctype="multipart/form-data">
                    <div class="group-form">
                        <label for="name">Nombre del platillo</label>
                        <input type="text" name="name" id="name" class="text-box" required>
                    </div>
                    <div class="group-form">
                        <label for="description">Descripción del platillo</label>
                        <textarea name="description" id="description" cols="30" rows="10" class="text-box" required></textarea>
                    </div>
                    <div class="group-form">
                        <label for="imagen">Imagen del platillo</label>
                        <input type="file" name="imagen" id="imagen" class="text-box" required>
                    </div>
                    <div class="group-form">
                        <label for="category">Categoría</label>
                        <select name="category" id="category" class="text-box">
                            <option value="1"> Lo más visto</option>
                            <option value="2">Lo menos visto</option>
                            <option value="3">Lo más comprado</option>
                            <option value="4">Lo menos comprado</option>
                        </select>
                    </div>
                    <div class="group-form">
                        <label for="price">Precio del platillo</label>
                        <input type="number" name="price" id="price" class="text-box" required>
                    </div>
                    <div class="group-form left">
                        <button type="submit" class="btn">Guardar Platillo</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <!-- Pie de págiona del administrador -->
    <%- include('../partials/footer_admin.ejs') %>
</body>
</html>