<!DOCTYPE html>
<html lang="es-MX">
<%- include('../partials/head_admin.ejs', { data: login }) %>
<body>
    <div class="login">
        <form action="/administrador/" method="post">
            <div class="group-box">
                <img src="../../images/icons/user.png" alt="Email">
            </div>
            <div class="group-box">
                <label for="email">Email:</label>
                <input type="text" name="email" id="email" class="text-box">
            </div>
            <div class="group-box">
                <label for="password">Contraseña:</label>
                <input type="password" name="password" id="password" class="text-box">
            </div>
            <input type="password" name="" id="">

            <div class="group-box">
                <button type="submit" class="btn">Iniciar Sesión</button>
            </div>
        </form>
    </div>
    <!-- Pie de págiona del administrador -->
    <%- include('../partials/footer_admin.ejs') %>
</body>
</html>