<!DOCTYPE html>
<html lang="es-MX">
<%- include('../partials/head_admin.ejs', { data: login }) %>
<body>
    <div class="login">
        <form action="/administrador/" method="post">
            <div class="group-box">
                <img src="../../images/icons/user.png" alt="Email">
            </div>
            <div class="group-box">
                <label for="user">Correo:</label>
                <input type="email" 
                    name="user" 
                    id="user" 
                    class="text-box"
                    value="<%= (locals.oldData && oldData.user) ? oldData.user : null %>">
                <div class="text-error">
                    <span role="inputEmail"></span>
                </div>
                <% if (locals.errors && errors.user) { %>
                <div class="text-error">
                    <span><%= errors.user.msg %></span>
                </div>
                <% } %>
            </div>
            <div class="group-box">
                <label for="password">Contraseña:</label>
                <input type="password" 
                    name="password" 
                    id="password" 
                    class="text-box">
                <div class="text-error">
                    <span role="inputPassword"></span>
                </div>
                <% if (locals.errors && errors.password) { %>
                <div class="text-error">
                    <span><%= errors.password.msg %></span>
                </div>
                <% } %>
            </div>
            <div class="group-box">
                <button type="submit" role="btnSubmit" class="btn-primary">Iniciar Sesión</button>
            </div>
        </form>
    </div>
    <script src="../../js/login.js"></script>
</body>
</html>