<!DOCTYPE html>
<html lang="es-MX">
<%- include('../partials/head_admin.ejs', { data: login }) %>
<body>
    <div class="login">
        <form action="/administrador/lista" method="post">
            <div class="group-box">
                <img src="../../images/icons/user.png" alt="Usuario">
            </div>
            <div class="group-box">
                <label for="usuario">Usuario:</label>
                <input type="text" name="usuario" id="usuario" class="text-box">
            </div>
            <div class="group-box">
                <label for="password">Contraseña:</label>
                <input type="password" name="password" id="password" class="text-box">
            </div>
            <div class="group-box">
                <button type="submit" class="btn">Iniciar Sesión</button>
            </div>
        </form>
    </div>
    <!-- Pie de págiona del administrador -->
    <%- include('../partials/footer_admin.ejs') %>
</body>
</html>