<div class="menu-lateral">
    <nav>
        <ul>
            <li class="titulo">Detalles del Producto</li>
            <li><a href="/administrador/agregar"><i class="fa-solid fa-square-plus"></i>&nbsp;<span>Agregar nuevo platillo</span></a></li>
            <li><a href="/administrador/lista"><i class="fa-solid fa-list"></i>&nbsp;<span>Lista de platillos</span></a></li>
            <!--li><a href="/administrador/editar"><i class="fa-solid fa-square-pen"></i>&nbsp;<span>Editar platillo</span></a></li-->
            <li class="titulo">Extras</li>
        </ul>
    </nav>
</div>