    <!-- Pie de Página -->
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <h2>¿Quienes Somos?</h2>
                <p>Apetitos Delivery donde podras eligir tus platos preferidos a precios que se adecuen a tu
                    presupuesto, hacer tu pedido online y recibirlo en tu domicilio. Variado, simple, rápido y
                    económico. Registrate!
                </p>
            </div>
            <div class="box">
                <h2>Categoritas</h2>
                <ul>
                    <li><a href="/">Incio</a></li>
                    <li><a href="/register">Creá tu cuenta </a></li>
                    <li><a href="/login">Ingresá </a></li>
                    <li><a href="/productCart">Mis compras </a></li>
                    <li><a href="/productDetail">Platillos </a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </div>
            <div class="box">
                <h2>Contactanos</h2>
                <ul>
                    <li>WhatasApp: 1154816596</li>
                    <li>Tel: 44502488</li>
                    <li>Email: apetitos.delivery@gmail.com</li>
                </ul>
            </div>
            <div class="box">
                <h2>Siguenos</h2>
                <div class="red-social">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-youtube"></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>Copyright &copy; 1999-2020 ApetitosDelivery S.R.L</small>
        </div>
    </footer>