<!-- Encabezado de la Página -->
<header>
    <div class="top-header">
        <div class="menu-hamburguesa">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="logo">
            <a href="/">
                <img src="/images/logo/apetitos_delivery.gif" alt="Apetitos Delivery">
            </a>
        </div>
        <form class="busqueda group-box" action="/" method="post">
            <input type="text" class="text-box" name="buscar" id="buscar" placeholder="Búscar platillo">
            <button class="btn" type="submit"><i class="fa fa-search"></i></button>
        </form>
        <div class="sesion">
            <ul>
                <li>
                    <a href="/login"><i class="fa-solid fa-user"></i></a>
                </li>
                <li>
                    <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa-solid fa-circle-info"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <nav class="menu-header">
        <ul>
            <li><a href="/">Incio</a></li>
            <li><a href="/register">Creá tu cuenta </a></li>
            <li><a href="/login">Ingresá </a></li>
            <li><a href="/productCart">Mis compras </a></li>
            <li><a href="/productList"> Platillos </a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
    </nav>
</header>