<header>
    <div class="bar-left">
        <div class="menu-bar">
            <a href=""><i class="fa-solid fa-bars"></i></a>
        </div>
        <div class="logo">
            <img src="static/images/logo/apetitos_delivery.gif" alt="apetitos_delivery">
        </div>
    </div>
    <div class="bar-right">
        <nav>
            <ul>
                <li><a href=""><i class="fa-solid fa-circle-user"></i></a></li>
                <li><a href="">Usuario</a></li>
                <li><a href="">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </div>
</header>