<!DOCTYPE html>
<html lang="es-MX">
<!-- Parte del head -->
<%- include('./partials/head.ejs', { data: index }) %>
<body>
    <!-- Parte del header -->
    <%- include('./partials/header.ejs') %>
    <!-- Cuerpo de la Página-->
    <main>
        <h1>
            ERROR 404 
            Page not found..... !
        </h1>
    </main>
    <!-- Parte del footer  -->
    <%- include('./partials/footer.ejs') %>
</body>

</html>