<!DOCTYPE html>
<html lang="es-MX">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/a9031de55e.js" crossorigin="anonymous"></script>
    <!-- Mis Estilos -->
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/Inicio.css">
    <!-- Titulo -->
    <title>Inicio | Apetitos Delivery</title>
</head>

<body>
    <!-- Encabezado de la Página -->
    <header>
        <div class="top-header">
            <div class="menu-hamburguesa">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="logo">
                <a href="/">
                    <img src="static/images/logo/apetitos_delivery_vector.png" alt="Apetitos Delivery">
                </a>
            </div>
            <form class="busqueda group-box" action="/" method="post">
                <input type="text" class="text-box" name="buscar" id="buscar" placeholder="Búscar platillo">
                <button class="btn" type="submit"><i class="fa fa-search"></i></button>
            </form>
            <div class="sesion">
                <ul>
                    <li>
                        <a href="/login"><i class="fa-solid fa-user"></i></a>
                    </li>
                    <li>
                        <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa-solid fa-circle-info"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <nav class="menu-header">
            <ul>
                <li><a href="/">Incio</a></li>
                <li><a href="/register">Creá tu cuenta </a></li>
                <li><a href="/login">Ingresá </a></li>
                <li><a href="/productCart">Mis compras </a></li>
                <li><a href="/productList">Platillos </a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </nav>
    </header>
    <!-- Cuerpo de la Página-->
    <main>
        <div class="carrusel">
            <img src="static/images/carrusel/carrusel-1.png" alt="carrusel">
        </div>
        <h2 class="titulo"><span>¿CÓMO FUNCIONA?</span></h2>
        <div class="como-funciona">
            <article>
                <img src="static/images/icons/masala-papad.png" alt="img-1">
                <h5>1. ELEGÍ TUS PLATOS</h5>
                <p>Más de 40 platos para guardar en tu carrito.</p>
            </article>
            <article>
                <img src="static/images/icons/envio-gratis.png" alt="img-2">
                <h5>2. RECIBÍ EN CASA</h5>
                <p>De Lunes a Viernes o retiralo desde nuestra tienda.</p>
            </article>
            <article>
                <img src="static/images/icons/comiendo.png" alt="img-3">
                <h5>3. ¡A COMER CASERO!</h5>
                <p>Disfruta de una comida como si fuera de casa.</p>
            </article>
        </div>
        <h2 class="titulo"><span>LO MÁS ELEGIDO</span></h2>
        <div class="mas-elegido">
            <article>
                <img src="static/images/platillos/camarones.png" alt="plato-1">
                <div class="contenido-plato">
                    <h5>Camarones</h5>
                    <p>Camarones pelados, pasados por jugo de limón, harina, huevo y pan molido y, posteriormente, fritos.</p>
                    <p class="precio">$ 850.00</p>
                </div>
            </article>
            <article>
                <img src="static/images/platillos/empanizado.png" alt="plato-1">
                <div class="contenido-plato">
                    <h5>Tempura de Verduras</h5>
                    <p>Tempura de verduras ligera y crujiente. Un plato realmente exquisito. </p>
                    <p class="precio">$ 1.200</p>
                </div>
            </article>
            <article>
                <img src="static/images/platillos/pata_muslo.jpg" alt="plato-1">
                <div class="contenido-plato">
                    <h5>Pata y Muslo</h5>
                    <p>Pata y Muslo Deshuesada de Pollo a la Pomarola con Puré de Calabazas.</p>
                    <p class="precio">$ 850.00</p>
                </div>
            </article>
            <article>
                <img src="static/images/platillos/tarta-de-cebolla.jpg" alt="plato-1">
                <div class="contenido-plato">
                    <h5>Tarta de Cebolla</h5>
                    <p>Tarta de Cebolla y Queso Port Salut Light (con masa de ricotta y harina Integral).</p>
                    <p class="precio">$ 850.00</p>
                </div>
            </article>
        </div>
        <div class="conoce-nuestro-menu">
            &nbsp;
        </div>
        <div class="newsletter">
            <form action="#" method="post">
                <div class="group-form">
                    <span class="principal">Recibí todas las ofertas</span>
                    <span class="secundario">
                        ¿Quieres recibir nuestras ofertas? ¡Registrate ya mismo y comenzá a
                        disfrutarlas!</span>
                    <div class="group-box">
                        <input type="text" name="" id="" class="text-box">
                        <button class="btn" type="submit">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <!-- Pie de Página -->
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <h2>¿Quienes Somos?</h2>
                <p>Apetitos Delivery donde podras eligir tus platos preferidos a precios que se adecuen a tu
                    presupuesto, hacer tu pedido online y recibirlo en tu domicilio. Variado, simple, rápido y
                    económico. Registrate!
                </p>
            </div>
            <div class="box">
                <h2>Categoritas</h2>
                <ul>
                    <li><a href="/">Incio</a></li>
                    <li><a href="/register">Creá tu cuenta </a></li>
                    <li><a href="/login">Ingresá </a></li>
                    <li><a href="/productCart">Mis compras </a></li>
                    <li><a href="/productDetail">Platillos </a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </div>
            <div class="box">
                <h2>Contactanos</h2>
                <ul>
                    <li>WhatasApp: 1154816596</li>
                    <li>Tel: 44502488</li>
                    <li>Email: apetitos.delivery@gmail.com</li>
                </ul>
            </div>
            <div class="box">
                <h2>Siguenos</h2>
                <div class="red-social">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-youtube"></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>Copyright &copy; 1999-2020 ApetitosDelivery S.R.L</small>
        </div>
    </footer>
</body>

</html>