<!DOCTYPE html>
<html lang="es-MX">
<!-- Parte del head -->
<%- include('./partials/head.ejs', { data: ayuda }) %>
<body>
    <!-- Parte del header -->
    <%- include('./partials/header.ejs') %>
    <!-- Cuerpo e la página -->
    <main>
        <div class="main-image">
            <img src="/images/carrusel/carrusel-2.png" alt="¿Cómo funciona?">
        </div>
        <div class="contenido">
            <div class="fila">
                <div class="columna c2">
                    <div class="icono">
                        <i class="fa-solid fa-hand-pointer"></i>
                    </div>
                </div>
                <div class="columna c2">
                    <div class="texto">
                        <h3>1.- Elegí tus comidas</h3>
                        <p>Elegí entre diferentes tipos de recetas cada semana. Incluyendo opciones fáciles y rápidas, altas en proteínas, y la elección del chef para quienes desean expandir sus horizontes culinarios.</p>
                    </div>
                </div>
            </div>
            <div class="fila">
                <div class="columna c2">
                    <h3>2.- Abrir tu caja</h3>
                    <p>Garantizamos la frescura de nuestros ingredientes y te los enviaos en una caja directamente en la puerta de tu casa.</p>
                </div>
                <div class="columna c2">
                    <i class="fa-solid fa-box-open"></i>
                </div>
            </div>
            <div class="fila">
                <div class="columna c2">
                    <i class="fa-solid fa-heart"></i>
                </div>
                <div class="columna c2">
                    <h3>3.- Cocina, come y difruta</h3>
                    <p>La eterna pregunta, "¿Y hoy que comemos?" esta apunto de desaparecer en tu vida. Bienvenido a un mundo donde la cena es planificada, simple y deliciosa.</p>
                </div>
            </div>
            <div class="fila">
                <div class="columna c1">
                    <button type="button" class="btn">¡Empieza ahora!</button>
                </div>
            </div>
        </div>
    </main>
    <!-- Parte del footer  -->
    <%- include('./partials/footer.ejs') %>
</body>
</html>