<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/a9031de55e.js" crossorigin="anonymous"></script>
    <!-- Mis Estilos -->
    <link rel="stylesheet" href="static/css/styles.css">
    <!-- Titulo -->
    <title>Inicio | Apetitos Delivery</title>
</head>
<body>
    <!-- Encabezado de la Página -->
    <header>

    </header>
    <!-- Cuerpo de la Página-->
    <main>
        <h1>Página de Inicio</h1>
    </main>
    <!-- Pie de Página -->
    <footer>

    </footer>
</body>
</html>