<!DOCTYPE html>
<html lang="es-MX">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/a9031de55e.js" crossorigin="anonymous"></script>
    <!-- Mis Estilos -->
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/Inicio.css">
    <!-- Titulo -->
    <title>Inicio | Apetitos Delivery</title>
</head>

<body>
    <!-- Encabezado de la Página -->
    <header>
        <div class="top-header">
            <div class="menu-hamburguesa">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="logo">
                <img src="static/images/logo/apetitos_delivery_vector.png" alt="Apetitos Delivery">
            </div>
            <form class="busqueda group-box" action="/" method="post">
                <input type="text" class="text-box" name="buscar" id="buscar" placeholder="Búscar platillo">
                <button class="btn" type="submit"><i class="fa fa-search"></i></button>
            </form>
            <div class="sesion">
                <ul>
                    <li><i class="fa-solid fa-user"></i></li>
                    <li><i class="fa-solid fa-cart-shopping"></i></li>
                    <li><i class="fa-solid fa-circle-info"></i></li>
                </ul>
            </div>
        </div>
        <nav class="menu-header">
            <ul>
                <li><a href="/index">Incio</a></li>
                <li><a href="/register">Creá tu cuenta </a></li>
                <li><a href="/login">Ingresá </a></li>
                <li><a href="#">Mis compras </a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </nav>
    </header>
    <!-- Cuerpo de la Página-->
    <main>
        <h1>Página de Inicio</h1>
    </main>
    <!-- Pie de Página -->
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <h2>¿Quienes Somos?</h2>
                <p>Apetitos Delivery donde podras eligir tus platos preferidos a precios que se adecuen a tu
                    presupuesto, hacer tu pedido online y recibirlo en tu domicilio. Variado, simple, rápido y
                    económico. Registrate!
                </p>
            </div>
            <div class="box">
                <h2>Categoritas</h2>
                <ul>
                    <li><a href="/index">Incio</a></li>
                    <li><a href="/register">Creá tu cuenta </a></li>
                    <li><a href="/login">Ingresá </a></li>
                    <li><a href="#">Mis compras </a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </div>
            <div class="box">
                <h2>Contactanos</h2>
                <ul>
                    <li>WhatasApp: 1154816596</li>
                    <li>Tel: 44502488</li>
                    <li>Email: apetitos.delivery@gmail.com</li>
                </ul>
            </div>
            <div class="box">
                <h2>Siguenos</h2>
                <div class="red-social">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-youtube"></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>Copyright &copy; 1999-2020 ApetitosDelivery S.R.L</small>
        </div>
    </footer>
</body>

</html>