<!DOCTYPE html>
<html>





<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script src="https://kit.fontawesome.com/47867613da.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/register.css">
    <link rel="stylesheet" href="static/css/productDetail.css">
    <title>Detalle de Productos</title>
</head>

<body>
    <header>
        <div class="top-header">
            <div class="menu-hamburguesa">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="logo">
                <img src="static/images/logo/apetitos_delivery_vector.png" alt="Apetitos Delivery">
            </div>
            <form class="busqueda group-box" action="/" method="post">
                <input type="text" class="text-box" name="buscar" id="buscar" placeholder="Búscar platillo">
                <button class="btn" type="submit"><i class="fa fa-search"></i></button>
            </form>
            <div class="sesion">
                <ul>
                    <li><i class="fa-solid fa-user"></i></li>
                    <li><i class="fa-solid fa-cart-shopping"></i></li>
                    <li><i class="fa-solid fa-circle-info"></i></li>
                </ul>
            </div>
        </div>
        <nav class="menu-header">
            <ul>
                <li><a href="/index">Incio</a></li>
                <li><a href="/register">Creá tu cuenta </a></li>
                <li><a href="/login">Ingresá </a></li>
                <li><a href="#">Mis compras </a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="menu">
            <div class="inicio">
                <p>Inicio</p>
                <p>></p>
                <p>Nuestros platos</p>
            </div>


            <div><select name="select">
                <option value="value1">ensaladas</option>
                <option value="value2" selected>pastas</option>
                <option value="value3">postres</option>
              </select></div>
        </section>

        <section class="productos">


            <article>
                <div class="imagen"><img src="images/imagen.jpeg" alt="FotoComidas"></div>

                <div class="textoYprecio">
                    <p class="titulo">Pollo al horno con papas</p>
                    <p class="precio">$ 850,00</p>
                </div>

                <div class="comprarVerMas"><button>Comprar</button>
                    <div><a id="ver" href="">Ver +</a></div>
                </div>
            </article>

            <article>
                <div class="imagen"><img src="images/imagen.jpeg" alt="FotoComidas"></div>

                <div class="textoYprecio">
                    <p class="titulo">Ensalada mediterranea</p>
                    <p class="precio">$ 1225,00</p>
                </div>

                <div class="comprarVerMas"><button>Comprar</button>
                    <div><a id="ver" href="">Ver +</a></div>
                </div>
            </article>

            <article>
                <div class="imagen"><img src="images/imagen.jpeg" alt="FotoComidas"></div>

                <div class="textoYprecio">
                    <p class="titulo">Tallarines caseros con crema</p>
                    <p class="precio">$ 850,00</p>
                </div>

                <div class="comprarVerMas"><button>Comprar</button>
                    <div><a id="ver" ref="">Ver +</a></div>
                </div>
            </article>

            <article>
                <div class="imagen"><img src="images/imagen.jpeg" alt="FotoComidas"></div>

                <div class="textoYprecio">
                    <p class="titulo">Ravioles a la bolognesa</p>
                    <p class="precio">$ 980,00</p>
                </div>

                <div class="comprarVerMas"><button>Comprar</button>
                    <div><a id="ver" href="">Ver +</a></div>
                </div>
            </article>

            <article>
                <div class="imagen"><img src="images/imagen.jpeg" alt="FotoComidas"></div>

                <div class="textoYprecio">
                    <p class="titulo">Ensalada Ceasar</p>
                    <p class="precio">$ 830,00</p>
                </div>

                <div class="comprarVerMas"><button>Comprar</button>
                    <div><a id="ver" href="">Ver +</a></div>
                </div>
            </article>

            <article>
                <div class="imagen"><img src="images/imagen.jpeg" alt="FotoComidas"></div>

                <div class="textoYprecio">
                    <p class="titulo">Salmón rosado con ensalada</p>
                    <p class="precio">$ 2250,00</p>
                </div>

                <div class="comprarVerMas"><button>Comprar</button>
                    <div><a id="ver" href="">Ver +</a></div>
                </div>
            </article>

            <article>
                <div class="imagen"><img src="images/imagen.jpeg" alt="FotoComidas"></div>

                <div class="textoYprecio">
                    <p class="titulo">Pizza con vegetales</p>
                    <p class="precio">$ 650,00</p>
                </div>

                <div class="comprarVerMas"><button>Comprar</button>
                    <div><a id="ver" href="">Ver +</a></div>
                </div>
            </article>

            <article>
                <div class="imagen"><img src="images/imagen.jpeg" alt="FotoComidas"></div>

                <div class="textoYprecio">
                    <p class="titulo">Tiramisú</p>
                    <p class="precio">$ 365,00</p>
                </div>

                <div class="comprarVerMas"><button>Comprar</button>
                    <div><a id="ver" href="">Ver +</a></div>
                </div>
            </article>


    </main>

    <footer>
        <article>
            <h2>¿Quiénes somos?</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore sint aperiam obcaecati illo voluptates expedita ratione, eveniet, provident quos adipisci quasi officia repellendus doloribus est ipsa accusamus veniam dignissimos cumque.</p>
        </article>
        <article>
            <h2>Categorías</h2>
            <ul>
                <li>Inicio</li>
                <li>Packs</li>
                <li>Platos</li>
            </ul>
        </article>
        <article>
            <h2>Contactános</h2>
            <ul>
                <li>Whatsapp</li>
                <li>Teléfono</li>
                <li>Correo</li>
                <li>Ubicación</li>
                <li>Chat</li>
            </ul>
        </article>
        <article>
            <h2>Sigamos conectados</h2>
            <div class="icons-ss">
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-pinterest-p"></i>
            </div>
        </article>
    </footer>
</body>

</html>