<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/a9031de55e.js" crossorigin="anonymous"></script>
    <!-- Mis Estilos -->
    <link rel="stylesheet" href="static/css/styles.css">
    <!-- Titulo -->
    <title>Carrito de Compras | Apetitos Delivery</title>
</head>
<body>
    <!-- Encabezado de la Página -->
    <header>
        <div class="logo">
            <img src="static/images/logo/apetitos_delivery_vector.png" alt="logo_apetitos">
        </div>
        <div class="busqueda">
            <form action="" method="post">
                
            </form>
        </div>
        <div></div>
        <nav></nav>
    </header>
    <!-- Cuerpo de la Página-->
    <main>
        <h1>Página de Inicio</h1>
    </main>
    <!-- Pie de Página -->
    <footer>
        <article>
            <h2>¿Quiénes somos?</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore sint aperiam obcaecati illo voluptates expedita ratione, eveniet,
                provident quos adipisci quasi officia repellendus doloribus est ipsa accusamus veniam dignissimos cumque.</p>
        </article>
        <article>
            <h2>Categorías</h2>
            <ul>
                <li>Inicio</li>
                <li>Packs</li>
                <li>Platos</li>
            </ul>
        </article>
        <article>
            <h2>Contactános</h2>
            <ul>
                <li>Whatsapp</li>
                <li>Teléfono</li>
                <li>Correo</li>
                <li>Ubicación</li>
                <li>Chat</li>
            </ul>
        </article>
        <article>
            <h2>Sigamos conectados</h2>
            <div class="icons-ss">
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-pinterest-p"></i>
            </div>
        </article>
    </footer>
</body>
</html>