* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.inicio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.inicio p {
    margin-left: 5px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

section article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    text-align: center;
    width: 100%;
    height: 320px;
    padding: 10px;
    width: 100%;
    border: 3px solid #FF5733;
    border-radius: 10px;
}

section article:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.imagen {
    display: flex;
    justify-content: center;
    height: 60%;
    width: 60%;
    margin: auto;
    border: 1px solid #F0EAD6;
}

.imagen img {
    width: 100%;
}

.textoYprecio {
    height: 20%;
    color: #333;
}

.comprarVerMas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    height: 10%;
    padding: 5px;
}

.titulo {
    height: 50%;
    padding: 2px;
    font-weight: 700;
}

.precio {
    height: 50%;
    padding: 2px;
    font-weight: 400;
}

#ver {
    text-decoration: none;
}

.form-group {
    display: flex;
    flex-wrap: nowrap;
}

.form-group .btn {
    width: 100px;
}

button.btn {
    border: 1px solid #CEA780;
}

a.btn {
    text-decoration: none;
    background-color: #CB6715;
    color: #fafafa;
}

.pie-pagina {
    background-color: #CEA780;
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 539px) {
    section article {
        width: 40%;
    }
}

@media (min-width: 769px) {
    section article {
        width: 20%;
    }

    .imagen {
        width: 90%;
    }
}