* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container-img img{
    margin-top: 15px;
    width: 100%;
}

.detalle-productos h3{
    border: 1px solid red;
}

.descripcion-productos {
    border: 1px solid rgb(134, 134, 134);
    padding: 15px;
    font-family: 'Ruda', sans-serif;
    margin:20px;
    border-radius: 10px;
    background-color: rgb(255, 249, 241);
    
}
.descripcion-productos div img {
    width: 25%;
    
}

.container-datos ul{
    display: flex;
    justify-content: space-around;
}
.seccion-relacionados h2 {
    text-align: center;
}
.seccion-relacionados div {
    display: inline-block;
    list-style-type:none;
    padding: 10px;
}

/*------------------- Media Query´s -------------------- */

@media (min-width: 539px) {
    .container-img {
        margin-top: 15px;
        width: 100%;
    }
    .container-img img{
        margin-top: 15px;
        margin-right: 50px;
    }
    .contenido {
        display: block;
    }
    
    .seccion-relacionados div {
        display: inline-block;
        padding: 15px;
        list-style-type:none;
    }
    
}
@media (min-width: 769px) {
    .container-img {
        margin-top: 15px;
        width: 80%;
    }
    .container-img img{
        margin-top: 15px;
        width: 80%;
        padding: 15px;
    }

    .contenido {
        display: flex;
    }

    .seccion-relacionados div {
        display: flex;
        justify-content: center;
        list-style-type:none;
        justify-content: space-around;
    }


}