* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    font-size: 16px;
}

header {
    background-color: grey;
}

body {
    font-family: 'Roboto', sans-serif;
}

.inicio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.inicio p {
    margin-left: 5px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

section article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px;
    text-align: center;
    border: 1px solid #FF5733;
    width: 100%;
    height: 320px;
    padding: 10px;
}

.imagen {
    display: flex;
    justify-content: center;
    height: 70%;
}

.textoYprecio {
    height: 20%;
    color: #FF5733;
}

.comprarVerMas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    height: 10%;
    padding: 5px;
}

.titulo {
    height: 50%;
    padding: 2px;
}

.precio {
    height: 50%;
    padding: 2px;
    font-weight: 900;
}

#ver {
    text-decoration: none;
}

@media (min-width: 420px) {
    section article {
        width: 40%;
    }
}

@media (min-width:769px) {
    section article {
        width: 20%;
    }
}