<!DOCTYPE html>
<html lang="es-MX">
<!-- Parte del head -->
<%- include('../partials/head.ejs', { data: registro }) %>
<body>
    <!-- Parte del header -->
    <%- include('../partials/header.ejs') %>
    <!-- Cuerpo de la Página-->
    <section class="form-register">
        <form action="/login" method="POST" enctype="multipart/form-data">
            <h4>Registro de Usuarios</h4>
            <input class="controls" type="text" name="name" id="name" placeholder="Nombre">
            <input class="controls" type="text" name="lastname" id="lastname" placeholder="Apellido">
            <input class="controls" type="email" name="email" id="email" placeholder="Correo">
            <input class="controls" type="email" name="email_conf" id="email_conf" placeholder=" Confirmar Correo">
            <input class="controls" type="password" name="password" id="password" placeholder="Contraseña">
            <input class="controls" type="password" name="password_conf" id="password_conf" placeholder="Confirmar Contraseña">
            <input type="file" name="image" id="image" class="controls">
            <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
            <input class="botons" type="submit" value="Registrar">
            <p><a href="/login">¿Ya tengo Cuenta?</a></p>
        </form>
    </section>
    <!-- Parte del footer  -->
    <%- include('../partials/footer.ejs') %>
</body>

</html>