<!DOCTYPE html>
<html>
<!-- Parte del head -->
<%- include('../partials/head.ejs', { data: productDetails }) %>
<body>
    <!-- Encabezado de la Página -->
    <%- include('../partials/header.ejs') %>
    <!-- Cuerpo de la Página-->
    <main>
        <section>
            <div class="detalle-productos">
                <div class="contenido">
                    <div class="container-img">
                        <img src="/images/platillos/caesar-salad.jpg" alt="detalle del producto">
                    </div>
                    <div class="descripcion-productos">
                        <h1> Ensalada Caesar. </h1>
                        Una ensalada César es una ensalada de lechuga romana y croûtons (trozos de pan tostado) con jugo de limón, aceite de oliva, huevo, salsa Worcestershire, anchoas, ajo, mostaza de Dijon, queso parmesano y pimienta negra 
                        <div>
                            <p> Originario de México </p>
                            <img src="/images/banderas/mexico.jpg" alt="bandera de México" >
                        </div>
                    </div>
                 </div>
                <div class="container-datos"> 
                    <h2> Platillo Ingredientes</h2>
                    <ul>
                        <li>
                            <p>PataMuslo Deshuesada de Pollo, verdeo,morron rojo,ají verde,manteca, calabaza </p>
                        </li>
                        
                    </ul>
                <div>

            <div class="seccion-relacionados">
                <h2>Productos relacionados </h2>
                <div>
                    <li>
                        <img src="/images/platillos/empanizado.png" width="400px" alt="">
                    </li>
                    <li>
                        <img src="/images/platillos/lasaña.jpg" width="400px" alt="">
                    </li>
                    <li>
                        <img src="/images/platillos/empanizado.png" width="400px" alt="">
                    </li>
                </div>
            </div>

                    
              
                
            </div>
        </section>
    </main>
    <!-- Parte del footer  -->
    <%- include('../partials/footer.ejs') %>
</body>

</html


<div id="carouselExampleControls" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="..." class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>