<!DOCTYPE html>
<html>
<!-- Parte del head -->
<%- include('../partials/head.ejs', { data: detalleProducto }) %>
<body>
    <!-- Encabezado de la Página -->
    <%- include('../partials/header.ejs') %>
    <!-- Cuerpo de la Página-->
    <main>
        <h1> Hola </h1>


    </main>
    <!-- Parte del footer  -->
    <%- include('../partials/footer.ejs') %>
</body>

</html