<!DOCTYPE html>
<html lang="es-MX">
<!-- Parte del head -->
<%- include('../partials/head.ejs', { data: carritoCompras }) %>
<body>
    <!-- Encabezado de la Página -->
    <%- include('../partials/header.ejs') %>
    <!-- Cuerpo de la Página-->
    <main>
        <h1>Carrito de Compras</h1>
        <div class="carro-compras">
            <div class="articulo-nuevo">
                <img src="/images/platillos/pata_muslo.jpg" alt="PataMuslo">
                <p>Pata y Muslo Deshuesada de Pollo a la Pomarola con Puré de Calabazas.</p>
                <i class="fa-solid fa-trash-can"></i>
                <div class="cantidad">
                    <div class="volumen">
                        <span class="menos"><i class="fa-solid fa-circle-minus"></i></span>
                        <span class="num">1</span>
                        <span class="mas"><i class="fa-solid fa-circle-plus"></i></span>
                    </div>
                    <span class="costo">$ 0.00</span>
                </div>
            </div>
            <div class="articulo-nuevo">
                <img src="/images/platillos/tarta_cebolla.jpg" alt="TartaCebolla">
                <p>Tarta de Cebolla y Queso Port Salut Light (con masa de ricotta y harina Integral).</p>
                <i class="fa-solid fa-trash-can"></i>
                <div class="cantidad">
                    <div class="volumen">
                        <span class="menos"><i class="fa-solid fa-circle-minus"></i></span>
                        <span class="num">1</span>
                        <span class="mas"><i class="fa-solid fa-circle-plus"></i></span>
                    </div>
                    <span class="costo">$ 0.00</span>
                </div>
            </div>
            <div class="articulo-nuevo">
                <img src="/images/platillos/vegetales_fritos.png" alt="ComidaRapida">
                <p>Una preparacion a base de verduras, por lo que su consumo va aportarnos una buena cantidad de vitaminas, minerales, y sustancias de acción antioxidates</p>
                <i class="fa-solid fa-trash-can"></i>
                <div class="cantidad">
                    <div class="volumen">
                        <span class="menos"><i class="fa-solid fa-circle-minus"></i></span>
                        <span class="num">1</span>
                        <span class="mas"><i class="fa-solid fa-circle-plus"></i></span>
                    </div>
                    <span class="costo">$ 0.00</span>
                </div>
            </div>
            <div class="articulo-nuevo">
                <img src="/images/platillos/camarones.png" alt="CompidaRapida">
                <p>Camarones pelados, pasados por jugo de limón, harina, huevo y pan molido y, posteriormente, fritos. Acompañados por una salsa de mesa tradicional y con arroz o ensalada de verduras.</p>
                <i class="fa-solid fa-trash-can"></i>
                <div class="cantidad">
                    <div class="volumen">
                        <span class="menos"><i class="fa-solid fa-circle-minus"></i></span>
                        <span class="num">1</span>
                        <span class="mas"><i class="fa-solid fa-circle-plus"></i></span>
                    </div>
                    <span class="costo">$ 0.00</span>
                </div>
            </div>
            <div class="sub-total">
                <span class="texto-subtotal">Subtotal (sin envío):</span>
                <span class="num-subtotal">$ 0.00</span>
            </div>
        </div>
        <!--div class="metodo-envio">
            <span class="local">
                <i class="fa-solid fa-circle-location-arrow"></i>
                Nuestro local
            </span>
        </div-->
    </main>
    <!-- Parte del footer  -->
    <%- include('../partials/footer.ejs') %>
</body>
</html>