/*
    # Colores a usar
    - #FF6955
    - #F0EAD6
    - #CEA780
    - #CB6715
*/

* {
    padding: 0;
    margin: 0;
}

/** Header del sitio web ----------------------------------------- */
.header {
    background-color: #CEA780;
    color: #F0EAD6;
    padding: 0.5rem 0;
}

.user {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.user i {
    font-size: 1rem;
    color: #333333;
    margin-right: 1rem;
    margin-top: 4px;
}

.user .label-admin {
    font-weight: bold;
    font-size: 1rem;
    padding-right: 1rem;
}

/** Menú lateral (SiderBar) -------------------------------------- */
.sidebar {
    background-color: #CEA780;
    color: #ff6955;
}

.siderbar .logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.siderbar .logo img {
    width: 130px;
}

.menu li a:hover,
.menu .is-active {
    background-color: #ff6955;
    color: #F0EAD6;
}

/** Contenido ---------------------------------------------------- */
.cell {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

.content {
    padding-top: 1rem;
    background-color: #F0EAD6;
    height: 87vh;
}

/** Footer ------------------------------------------------------- */
.footer {
    background-color: #CEA780;
    color: #333333;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/**
    Media Query -------------------------------------------------- //
*/
@media (min-width: 768px) {
    
}