/*
    # Colores a usar
    - #FF6955
    - #F0EAD6
    - #CEA780
    - #CB6715
*/

* {
    padding: 0;
    margin: 0;
}

/** Header del sitio web ----------------------------------------- */
.header {
    background-color: #CEA780;
    color: #F0EAD6;
}

/** Menú lateral (SiderBar) -------------------------------------- */
.sidebar {
    background-color: #CEA780;
    color: #ff6955;
}

.siderbar .logo {
    width: 100px;
}

/** Contenido ---------------------------------------------------- */
.content {
    background-color: #F0EAD6;
}

/** Footer ------------------------------------------------------- */
.footer {
    background-color: #CEA780;
    color: #333333;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/** Filas -------------------------------------------------------- */
.row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

/** Columnas ----------------------------------------------------- */
[class*=column-] {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.column-1 {
    width: 100%;
}

.column-2 {
    width: 50%;
}

.column-3 {
    width: 33.33%;
}

/**
    Media Query -------------------------------------------------- //
*/
@media (min-width: 768px) {
    .siderbar {
        width: 14rem;
    }
}